<p>
    <mat-toolbar color="primary">
        <span routerLink="/">Task Management App</span>

        <a routerLink="/" mat-button>
            <span> Tasks</span>
        </a>
        <span class="spacer"></span>
        <ng-container *appShowAuthed="false">
            <button routerLink="/login" mat-icon-button>
                <mat-icon>login</mat-icon>
            </button>
            <button routerLink="/register" mat-icon-button>
                <mat-icon>person_add</mat-icon>
            </button>
        </ng-container>
        <ng-container *appShowAuthed="true">
            <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </ng-container>
    </mat-toolbar>
</p>
