<h2></h2>

<div class="detail-container">
    <form  [formGroup]="taskForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose a due date</mat-label>
        <input matInput formControlName="due_date" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="chip-list" appearance="fill" color="accent">
        <mat-label>Categories</mat-label>
        <mat-chip-grid #chipGrid aria-label="Category selection" >
            <mat-chip-row [ngStyle]="{'background-color' : category.color}" *ngFor="let category of task?.categories"
                          (removed)="categoryRemoved(category)">
                {{category.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + category.name">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="Select category..." #categoryInput [formControl]="categoryCtrl"
               [matChipInputFor]="chipGrid" [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="categorySelected($event)">
            <mat-option *ngFor="let category of filteredCategories | async" [value]="category.name">
                {{category.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="chip-list" appearance="fill" color="accent">
        <mat-label>Users</mat-label>
        <mat-chip-grid #userChipGrid aria-label="User selection">
            <mat-chip-row *ngFor="let user of task?.users" (removed)="userRemoved(user)">
                {{user.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + user.name">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="Select user..." #userInput [formControl]="userCtrl"
               [matChipInputFor]="userChipGrid" [matAutocomplete]="userAuto"/>
        <mat-autocomplete #userAuto="matAutocomplete" (optionSelected)="userSelected($event)">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user.name">
                {{user.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <h3>TODO List:</h3>
    <mat-list role="list" class="subtasks-list">
        <mat-list-item role="listitem" *ngFor="let subtask of task?.sub_tasks">{{subtask.description}}</mat-list-item>
    </mat-list>
    <button mat-raised-button color="primary">Save</button>
    </form>
</div>