.detail-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
.subtasks-list {
  //overflow-y: auto;
  min-height: 200px;
}
mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}