<mat-progress-bar *ngIf="!loading" mode="indeterminate"></mat-progress-bar>

<div class="tasks-list" *ngIf="loading">
   
    <div class="col-md-12">
        <app-task *ngFor="let task of tasks | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: totalItems
                };trackBy: trackByFn" [task]="task">

        </app-task>
    </div>
    <div class="col-md-12">
        <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                [responsive]="true"
                (pageChange)="handlePageChange($event)">
        </pagination-controls>
    </div>
</div>
