<mat-progress-bar *ngIf="!loading" mode="indeterminate"></mat-progress-bar>

<div class="tasks-list-container" *ngIf="loading">
        <app-search (onSearch)="search($event)"></app-search>
    <div class="tasks-list">
        <app-task *ngFor="let task of tasks | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: totalItems
                };trackBy: trackByFn" [task]="task">

        </app-task>
    </div>
        <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                [responsive]="true"
                (pageChange)="handlePageChange($event)">
        </pagination-controls>
</div>
